<%- include("./partials/header.ejs") %>
<a href="/add">Create Review</a> <br>
<small>You are currently signed in as <strong><%= listUser %></strong>. Not you? Click <a>here.</a></small>
<!-- <- include("./partials/error.ejs")  > -->
<% for(let i = 0; i < list.length; i++){%>

<div style="margin-top: 50px;">
  <img src="<%= list[i].thumb %>" style="float: left; height: 18.5vh; object-fit: cover; margin-right: 24px;">
  <div>
    <h2 style="display: inline"><%= list[i].title %></h2>
    <p style="display: inline">by <%= list[i].book_auth %></p>
  </div>
  <p><%= list.details %></p>
  <p>Final Rating: <%= list[i].rating %></p>
  <p>Review by <%= list[i].username %> on <%= list[i].date %></p>
  <a href="/edit/<%= list[i].id %>">Edit</a>
  <hr>
</div>


<% } %>
<%- include("./partials/footer.ejs") %>