<%- include("./partials/header.ejs") %>
<a href="/add">Create Review</a> <br>
<small>You are currently signed in as <strong>Connor</strong>. Not you? Click <a>here.</a></small>
<% for(let item of list){%>

<div>
  <div>
    <h2><%= item.title %></h2>
    <p>by <%= item.author %></p>
  </div>
  <p><%= item.details %></p>
  <small><%= item.userid %></small>
  <a href="/edit/<%= item.id %>">Edit</a>
  <hr>
</div>


<% } %>
<%- include("./partials/footer.ejs") %>