<%- include("./partials/header.ejs") %>

<% if (locals.review) { %>
  <form id="editForm" method="post" action="/edit/<%= review.id %>">
    <input type="text" name="title" value="<%= review.title %>" required>
    <input type="text" name="book_auth" placeholder="<%= review.book_auth %>">
    <input type="text" name="details" value="<%= review.details%>" required>
    <input type="number" name="rating" max="10" min="0" value="<%= review.rating %>" required><p style="display: inline; font-size: .75rem"> /10</p>
    <button type="submit">Save</button>
  </form>
<% } else { %>
  <form id="postForm" method="post" action="/add">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="book_auth" placeholder="Author">
    <br>
    <input type="text" name="details" placeholder="Details">
    <br>
    <label for="scaleInput">Rating:</label>
    <br>
    <input type="number" name="rating" max="10" min="0" value="10"><p style="display: inline; font-size: .75rem"> /10</p>
    <button type="submit">Save</button>
  </form>
<% } %>
<%- include("./partials/footer.ejs") %>